<div class="container font-header">



    <p>Home > Counsulting > State Regular > Boadrd</p>








    <div class="col-sm-12 ">
        <select class="select_options form-control" style="width:100%">
          
                <option >Select State</option>
                <option >01</option>
        
                <option >02</option>
                <option>03</option>
            </select>



    </div>



    <div class="stateboard">
        <label class="medium_type">Karnataka State Board</label>
    </div>



    <div class="header">
        <label class="top_header_normalmessage">
            Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem and is the brainchild of the SOUTHERN EDUCATIONAL AND RURAL DEVELOPMENT SOCIETY. Tagore Matric Higher Secondary School was established with an ennobling vision: Creating the leaders of the future, by imparting holistic education in an environment of excellence, where students and faculty from different parts of the world come together for the purpose of learning. The faculty, teaching pedagogy and facilities are of truly world-class standards which kindle a love for learning, a respect for cultural diversity and a strong sense of social responsibility among the students

Today, more than 7,000 students are gaining knowledge under its tutelage. Tagore is a name synonymous with quality of education provided by professionally trained and experienced faculty.
        </label>
    </div>


    <div class="read_more row">

        <div class="col-sm-10">


        </div>

        <div class="col-sm-2">

            <label class="read_more_txt">Read more</label>
        </div>

    </div>
</div>