
<app-other-header></app-other-header>

<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i>Home >Careeres</p>
    </div>
</div>
<div class="container font-header py-5">



    <p>Home >Careeres</p>

    <div class="top_header">
        <label class="medium_type">CBSE BOARD</label>
    </div>

    <div class="header">
        <label class="top_header_normalmessage">
            Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem .

        </label>

    </div>



    <!-- {cardview} -->


    <div style="margin-top: 5%;" class="details row">

        <div class="col-sm-4  pb10">
            <div class="card card_view" [routerLink]="['/course_details']">

                <div class="image_header">


                    <img class="img" src="assets/images/rocket.png">

                </div>
                <div class="card-body">

                    <p class="card-text card_txt">COURSE 1</p>

                </div>
            </div>

        </div>



        <div class="col-sm-4  pb10">
            <div class="card card_view"  [routerLink]="['/course_details']">

                <div class="image_header">


                    <img class="img" src="assets/images/rocket.png">

                </div>
                <div class="card-body">

                    <p class="card-text card_txt">COURSE 2</p>

                </div>
            </div>

        </div>





        <div class="col-sm-4 pb10">
            <div class="card card_view"  [routerLink]="['/course_details']">

                <div class="image_header">


                    <img class="img" src="assets/images/rocket.png">

                </div>
                <div class="card-body">

                    <p class="card-text card_txt">COURSE 3</p>

                </div>
            </div>

        </div>

    </div>


    <!-- dummy -->


    <div style="margin-top: 5%;" class="details row">

        <div class="col-sm-4  pb10">
            <div class="card card_view"  [routerLink]="['/course_details']">

                <div class="image_header">


                    <img class="img" src="assets/images/rocket.png">

                </div>
                <div class="card-body">

                    <p class="card-text card_txt">COURSE 4</p>

                </div>
            </div>

        </div>



        <div class="col-sm-4  pb10">
            <div class="card card_view"  [routerLink]="['/course_details']">

                <div class="image_header">


                    <img class="img" src="assets/images/rocket.png">

                </div>
                <div class="card-body">

                    <p class="card-text card_txt">COURSE 5</p>

                </div>
            </div>

        </div>





        <div class="col-sm-4  pb10">
            <div class="card card_view"  [routerLink]="['/course_details']">

                <div class="image_header">


                    <img class="img" src="assets/images/rocket.png">

                </div>
                <div class="card-body">

                    <p class="card-text card_txt">COURSE 6</p>

                </div>
            </div>

        </div>

    </div>

    <div class="txt_link">
        <a class="showmore" href='https://www.w3schools.com'>SHOW MORE COURCES</a>
    </div>

</div>