<app-other-header></app-other-header>



<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i>Home pattner with us</p>

        <h5 style="color: white;font-weight: 400;">Pattner with us</h5>
    </div>
</div>



<div class="container font-header">
    <div>



        <div class="top_header">


        </div>






        <div class="row col-md-12 m0">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 row">
                <div class="colo-md-6">
                    <input type="radio" class="form-check-input" name="optradio">Colleges / Schools&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </div>
                <div class="colo-md-6">
                    <input type="radio" class="form-check-input" name="optradio">Vendor

                </div>
            </div>
            <div class="col-md-4">

            </div>

        </div>






        <!-- {round_corner} -->
        <div class="row ">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <div class="row font-header">
                            <div class="col-sm-6 pb10"><button type="button" class="btn btn-block round_corner">DOWNLOAD FORM</button></div>
                            <div class="col-sm-6"><button type="button" class="btn btn-block round_corner">UPLOAD FORM</button></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- { List} -->
        <div>
            <label class="personal_info"> Personal Information </label>

        </div>
        <div class=" row">


            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="First Name" name="username">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Last Name" name="username">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Title" name="username">
            </div>
        </div>

        <div class=" row">
            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="Business email" name="username">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Business Phone number" name="username">
            </div>


            <div class="form-group col-sm-4">

            </div>
        </div>




        <!-- {Company } -->

        <label>Colleges / School Information</label>
        <div class=" row">
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Colleges / School Name " name="username">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Address Line" name="username">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="City" name="username">
            </div>
        </div>







        <div class="row">
            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="State" name="username">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Zipcode" name="username">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="College / School website URL" name="username">
            </div>
        </div>



        <div class=" row">
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Designation" name="username">
            </div>


        </div>


        <!-- {Adharcard } -->


        <div class="row">
            <div class="col-sm-4">
                <label class="personal_info">Upload Aadhar</label><br>
                <div class="custom-files mb-3">
                    <input type="file" class="custom-file-inputs" id="aadhar" name="filename">
                    <label class="custom-file-labels" for="aadhar"><img style="width: 100%;height: 100%;" src="assets/images/plus.png"></label>
                </div>

                <div class="text-right">
                    <button type="button" class="btn btn-default"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="personal_info">Upload 10th</label><br>
                <div class="custom-files mb-3">
                    <input type="file" class="custom-file-inputs" id="tenth" name="filename">
                    <label class="custom-file-labels" for="tenth"><img style="width: 100%;height: 100%;" src="assets/images/plus.png"></label>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="personal_info">Upload 12th</label><br>
                <div class="custom-files mb-3">
                    <input type="file" class="custom-file-inputs" id="twelve" name="filename">
                    <label class="custom-file-labels" for="twelve"><img style="width: 100%;height: 100%;" src="assets/images/plus.png"></label>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                </div>
            </div>
        </div>




        <!-- {Addmore} -->
        <div>
            <div class="add_more">
                <label class="add_more_text" for="comment font-header ">Add more</label>
            </div>

        </div>



        <!-- {Additional Information} -->
        <div class="admin_space">

        </div>

        <!-- {Admin notes} -->

        <div class="form-group">
            <label for="comment font-header">Additional Information</label>
            <textarea placeholder="Describe yourself here..." class="form-control" rows="5" name="text" style="background-color: #ffffff;">
      
    </textarea>
        </div>
        <!-- {Additional Information} -->
        <div class="form-group">
            <label for="comment font-header">Admin Notes</label>
            <textarea placeholder="Describe yourself here..." class="form-control" rows="5" name="text" readonly style="background-color: #ffffff;">
      
    </textarea>
        </div>
        <div>
            <div class=" text-center">
                <button [routerLink]="['/course-name-specialization']" type="button" class="submit_button font-color-white">Submit</button>
            </div>
        </div>

        <div>

        </div>

    </div>

    <div class="bottom_header"></div>
</div>